body, html {
  height: 100%;
}

/*@media only screen and (min-width: 601px){*/
  .bg {
    /* The image used */
    background-image: url('../img/pc.png');

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
/*}*/


@media only screen and (max-width: 600px){
  .bg {
    /* The image used */
    background-image: url('../img/movil.png');
    background-position: center;
    background-repeat: no-repeat;
  }
}
